<div class="places-filters">
  <div class="dropdown dropdown-filter-event">
    <button class="btn btn-main dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
      aria-expanded="false" data-bs-offset="0,8">
      Категория
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Выставки</a></li>
      <li><a class="dropdown-item" href="#">Концерты</a></li>
      <li><a class="dropdown-item" href="#">Спектакли</a></li>
      <li><a class="dropdown-item" href="#">Вечеринки</a></li>
      <li><a class="dropdown-item" href="#">Кино</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <div class="dropdown-btn-wrap">
          <button class="dropdown-item btn-main">Применить</button>
        </div>
      </li>
    </ul>
  </div>
</div>