<section class="section-collection container">
  <div class="section-collection__collection-list collection-list">
    <div class="collection-list__header">
      <div class="collection-list__header-wrap">
        <div class="collection-list__title-wrap">
          <h2>{{title}}</h2>
          <a href="#" class="btn-main">Все</a>
        </div>
      </div>
    </div>
    <div class="collection-list__group-lg">
      <div class="collection-list__card collection-card-lg">
        <div class="collection-card-lg__img-wrapper">
          <img src="./img-content/events/12.jpg" alt="" class="collection-card-lg__img">
        </div>
        <a href="./collection-item.html" class="collection-card-lg__link">Количество помещающегося текста зависит от контейнера с картинкой, в данном случае помещается достаточно много текста, но лучше не допускать длинных заголовков, чтобы не перекрывать картинку на заднем фоне</a>
      </div>
      <div class="collection-list__card collection-card-lg">
        <div class="collection-card-lg__img-wrapper">
          <img src="./img-content/events/13.jpg" alt="" class="collection-card-lg__img">
        </div>
        <a href="#" class="collection-card-lg__link">Будущий Sold Out</a>
      </div>
    </div>
    <div class="collection-list__group-sm">
      <div class="collection-list__card collection-card">
        <div class="collection-card__img-wrapper">
          <img src="./img-content/events/14.jpg" alt="" class="collection-card__img">
        </div>
        <span class="collection-card__date">19 мар</span>
        <a href="#" class="collection-card__title">Лучшие торговые центры Санкт-петербурга</a>
      </div>
      <div class="collection-list__card collection-card">
        <div class="collection-card__img-wrapper">
          <img src="./img-content/events/15.jpg" alt="" class="collection-card__img">
        </div>
        <span class="collection-card__date">18 мар</span>
        <a href="#" class="collection-card__title">ТОП-26 самых популярных музеев Москвы: список лучших музеев</a>
      </div>
      <div class="collection-list__card collection-card">
        <div class="collection-card__img-wrapper">
          <img src="./img-content/events/16.jpg" alt="" class="collection-card__img">
        </div>
        <span class="collection-card__date">17 мар</span>
        <a href="#" class="collection-card__title">Чем заняться в дождливый день?</a>
      </div>
      <div class="collection-list__card collection-card">
        <div class="collection-card__img-wrapper">
          <img src="./img-content/events/17.jpg" alt="" class="collection-card__img">
        </div>
        <span class="collection-card__date">12 мар</span>
        <a href="#" class="collection-card__title">Красивые мосты Москвы</a>
      </div>
    </div>
  </div>
</section>