<div class="event-item__slider">
  <div id="filterGroup" class="swiper event-item-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./img-content/events/4.jpg" alt="" class="event-item-slider__img">
      </div>
      <div class="swiper-slide">
        <img src="./img-content/events/3.jpg" alt="" class="event-item-slider__img">
      </div>
      <div class="swiper-slide">
        <img src="./img-content/events/2.jpg" alt="" class="event-item-slider__img">
      </div>
      <div class="swiper-slide">
        <img src="./img-content/events/1.jpg" alt="" class="event-item-slider__img">
      </div>
      <div class="swiper-slide">
        <img src="./img-content/events/5.jpg" alt="" class="event-item-slider__img">
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="swiper-pagination"></div>
</div>