<form class="search-form">
  <div class="search-bar">
    <label for="search-bar" class="form-label">Поиск</label>
    <input type="email" class="form-control" id="search-bar" aria-describedby="emailHelp" placeholder="События, места и подборки">
    <span class="form-icon"></span>
  </div>
  <div class="search-radio">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        События
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
      <label class="form-check-label" for="flexRadioDefault2">
        Места
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
      <label class="form-check-label" for="flexRadioDefault3">
        Подборки
      </label>
    </div>
  </div>
</form>