@use "../../abstracts" as *;


.section-places-list {
  h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .events-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;

  }

  .pagination {
    @media (max-width:768px) {
      display: none;
    }
  }
}