@use "../../abstracts" as *;

.places-list {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem 0;
  
    .event-card__img-wrapper:before {
      padding-top: 100%;
    }
  
    @media (max-width:768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__more {
    display: none;

    @media (max-width:768px) {
      display: block;
    }

    .btn-main {
      width: 100%;
    }
  }

  // .event-card {

  //   .event-card__img-wrapper:before {
  //     @media (max-width:768px) {
  //       padding-top: 100%;
  //     }
  //   }
  // }

}