<div class="price-slider">
  <div class="price-slider-header">
    <span id="price-range-text">ЦЕНА</span>
    <span class="dropdown-arrow">▼</span>
  </div>
  <div class="slider-container">
    <input type="number" id="min-price" value="0" min="0" max="21000">
    <input type="number" id="max-price" value="21000" min="0" max="21000">
    <div class="slider">
      <input type="range" id="range-min" min="0" max="21000" value="0">
      <input type="range" id="range-max" min="0" max="21000" value="21000">
    </div>
  </div>
  <div class="buttons">
    <button id="reset">СБРОСИТЬ</button>
    <button id="apply" disabled>ПРИМЕНИТЬ</button>
  </div>
</div>