<nav class="pagination container">
  <ul class="pagination-list">
    <li class="pagination-item pagination-item--arrow-prev pagination-item--disabled">
      <a href="">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 2L11 8L5 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </li>
    <li class="pagination-item pagination-item--active">
      <a href="">1</a>
    </li>
    <li class="pagination-item">
      <a href="">2</a>
    </li>
    <li class="pagination-item">
      <a href="">3</a>
    </li>
    <li class="pagination-item">
      <a href="">4</a>
    </li>
    <li class="pagination-item">
      <a href="">5</a>
    </li>
    <li class="pagination-item">
      <a href="">6</a>
    </li>
    <li class="pagination-item">
      <a href="">7</a>
    </li>
    <li class="pagination-item pagination-item--dots"></li>
    <li class="pagination-item">
      <a href="">21</a>
    </li>
    <li class="pagination-item pagination-item--arrow-next">
      <a href="">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 2L11 8L5 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </a>
    </li>
  </ul>
</nav>